---
layout: default
---
<section class="tone-dark header">
  <img class="logo"
       src="images/logo.png"
       alt="{{ site.data.info.name }}">
  <p>
    {{ site.data.info.date }}
    <br>
    {{ site.data.info.location }}
  </p>
  {% if site.data.action.text %}
    <p>
      {% if site.data.action.link %}
        <a class="tone-dark link-action"
           href="{{ site.data.action.link }}"
           rel="noreferrer">{{ site.data.action.text | markdownify | remove: '<p>' | remove: '</p>' }}</a>
      {% else %}
        {{ site.data.action.text | markdownify }}
      {% endif %}
    </p>
  {% endif %}

</section>
<section class="tone-dark">
  <div>
    Building on a successful first edition with over 1000 enthusiasts, the AI ShortFest will return to spark up more discussions on AI's transformative impact in filmmaking. This year again has been marked by a surge in research breakthroughs like SORA and in numerous filmmaking support tools, including those from our previous sponsor, Pika. We believe this festival serves as a vital hub for dialogue, driving the narrative on how artificial intelligence is shaping and will shape the future of the cinematic landscape. We invite you to join this essential conversation at the upcoming AI ShortFest. Keep an eye out for updates on call for entries, prizes, and distinguished guests.

  </div>
</section>

<section class="collage">
  <img src="images/collage/0.jpg">
  <img src="images/collage/1.jpg">
  <img src="images/collage/2.jpg">
  <img src="images/collage/3.jpg">
  <img src="images/collage/4.jpg">
  <img src="images/collage/5.jpg">
  <img src="images/collage/6.jpg">
  <img src="images/collage/7.jpg">
  <img src="images/collage/8.jpg">
  <img src="images/collage/9.jpg">
  <img src="images/collage/10.jpg">
  <img src="images/collage/11.jpg">

  <!-- Add more <img> tags for additional photos in the collage -->
</section>

<section class="video">
  <h1>Watch Our Trailer</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nc9gNeQfjnc?si=dP0RLYwGu9VhRvjK" frameborder="0" allowfullscreen></iframe>
</section>

{% if site.data.schedule %}
  <section id="schedule">
    <h1>Schedule</h1>
    <div class="items-container">
      {% for part in site.data.schedule %}
        <div class="item-large">
          <table>
            {% if part[0] != '' %}
            <tr>
              <th colspan="2">
                <h2>{{ part[0] }}</h2>
              </th>
            </tr>
            {% endif %}
            {% for item in part[1] %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if site.data.sponsors %}
  <section class="section-sponsors">
    {% for tier in site.data.sponsors.tiers %}
      {% if tier[1].show_title %}
        <h1>{{ tier[0] }}</h1>
      {% endif %}

      {% if tier[1].sponsors %}
        <div class="items-container"
             {% if tier[1].color %} style="background: {{ tier[1].color }}" {% endif %}>
          {% for sponsor in tier[1].sponsors %}
            {% comment %} Use SVG if available, PNG otherwise {% endcomment %}
            {% assign file_img = 'null' %}
            {% assign file_svg_path = sponsor[0] | prepend: '/images/logos/' | append: '.webp' %}
            {% for file in site.static_files %}
              {% if file.path == file_svg_path %}
                {% assign file_img = file_svg_path %}
              {% endif %}
            {% endfor %}
            {% if file_img == 'null' %}
              {% assign file_img = sponsor[0] | prepend: '/images/logos/' | append: '.webp' %}
            {% endif %}

            <div class="item-large">
              <a href="{{ sponsor[1] }}"
                 rel="noreferrer">
                 <img src="{{ file_img }}"
                      alt="{{ tier[0] }} - {{ sponsor[0] }}"
                      style="height: {{ tier[1].size }}vh">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endif %}
<section class="tone-dark">
  <h1>Committee</h1>
  <div class="items-container">
    {% for person in site.data.organizers.people %}
      <div class="item-small">
        <a class="person-link"
           href="{{ person.link }}"
           rel="noreferrer">
            <div class="person-container">
              <img class="person-image"
                   src="images/people/{{ person.first }}.png"
                   alt="Picture of {{ person.first }} {{ person.last }}">
              <div class="person-info">
                <span class="person-first">{{ person.first }}</span>
                <br>
                <span class="person-last">{{ person.last }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- {% if site.data.organizers.group %}
    <p>
      {{ site.data.info.name }} is organized by {{ site.data.organizers.group.name }}, whose legal documents can be viewed
      {% if site.data.organizers.group.link %}
        <a href="{{ site.data.organizers.group.link }}">here</a>.
      {% else %}
        <a href="/legal">here</a>.
      {% endif %}
    </p>
  {% endif %} -->
</section>

<section>
  <h1>Rules</h1>
    <h2>Criteria</h2>
      <ul>
        <li>Film quality: Storytelling impact and overall production quality</li>
        <li>Use of AI techniques: Creative integration of AI and effective utilization</li>
      </ul>
    <h2>Films</h2>
      <ul>
        <li>Films must have a maximum duration of 10 minutes.</li>
        <li>Films that contain languages other than English must include English subtitles.</li>
      </ul>
    <h2>Copyright</h2>
      <ul>
        <li>By submitting your film, you affirm that you hold the rights to the content and grant permission for screening and promotional purposes.</li>
        <li>AI-generated content used in submissions should respect copyright and intellectual property rights</li>
        <li>ASF is not liable for any copyright infringements or unauthorized usage, and any conflicts should be resolved by the parties involved.</li>
        <li>There are no specific premiere status requirements.</li>
        <li>AI ShortFest (ASF) reserves the right to use portions of your film, including trailers, stills, and posters, for promotional purposes on social media, the official website, press, and other relevant platforms.        </li>
      </ul>
    <h2>Fees</h2>
      <ul>
        <li>All fees are non-transferable and non-refundable.</li>
        <li>We do not offer fee waivers.</li>
      </ul>
    <h2>Judgement</h2>
      <ul>
        <li>ASF reserves the right to disqualify any film that is deemed inappropriate by the festival. If you have any questions or concerns regarding this decision, please feel free to contact us.</li>
        <li>Not all submissions will be selected for the official competition. The judges have the autonomy to make their own choices, and no feedback or explanations will be provided for films that are not selected.</li>
      </ul>

  
</section>
<section>
  <h1>Newsletter</h1>
  <div>
    Subscribe to our newsletter to be informed of future {{ site.data.workshops.name }}!
  </div>
  <div class="newsletter">
    <form action="{{ site.data.workshops.mailchimp_action }}"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="{{ site.data.workshops.mailchimp_bot_input }}" tabindex="-1" value="">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>
</section>
